<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <textarea id="email" name="email"></textarea>
        </div>
        <div>
            <label for="password">Password</label>
            <textarea id="password" name="password"></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
    
</body>
</html>